<div class="notification-container">
  <div 
    *ngFor="let notification of notifications" 
    class="notification notification-{{ notification.type }}"
    (click)="removeNotification(notification.id)">
    <div class="notification-icon">
      <i class='bx {{ getIcon(notification.type) }}'></i>
    </div>
    <div class="notification-content">
      <p>{{ notification.message }}</p>
    </div>
    <button class="notification-close" (click)="removeNotification(notification.id)">
      <i class='bx bx-x'></i>
    </button>
  </div>
</div>
