<nav class="menu">
  </nav>
  <main class="main">
    <h1>Rastrear un Paquete</h1> <!-- Muestra el título dinámico desde el TypeScript -->
    <div class="componente">
      <h3>Ingrese un número de rastreo compuesto de 20 dígitos.</h3>
      <p>Ejemplo: 01234567899876543210</p>
      <div class="rastreo">
        <input type="text" #numRastreo placeholder="Número de rastreo">
        <button (click)="rastrear()" id="rastrear">Rastrear</button>
      </div>
    </div>
    <h2>Estado del Envío</h2>
    <div *ngIf="contenidoVisible" class="EstatusEnvio">
      <label [ngStyle]="{'background-color': getStatusColor('EN PROCESO')}">EN PROCESO</label>
      <p>➟</p>
      <label [ngStyle]="{'background-color': getStatusColor('ENVIADO')}">ENVIADO</label>
      <p>➟</p>
      <label [ngStyle]="{'background-color': getStatusColor('ENTREGA')}">EN ENTREGA A DOMICILIO</label>
      <p>➟</p>
      <label [ngStyle]="{'background-color': getStatusColor('ENTREGADO')}">ENTREGADO</label>
    </div>
    <div *ngIf="contenidoVisible" class="DetalleEnvio">
      <h2>Detalle del Envío</h2>
      <p><strong>Número de Envío:</strong> {{ idEnvio }}</p>
      <p><strong>Número de Paquete:</strong> {{ idPaquete }}</p>
      <p><strong>Estatus:</strong> {{ estatus }}</p>
      <p><strong>Remitente:</strong> {{ remitente }}</p>
      <p><strong>Destinatario:</strong> {{ destinatario }}</p>
    </div>
  </main>