<main class="main">
    <div class="componente">
        <h2>Preguntas Frecuentes</h2>
        <div class="preguntas">
            <h3>¿Cuánto cuesta enviar un paquete?</h3>
            <p>Para poder cotizar un envio, en el menu principal, dirigase al apartado "Cotizar Envio"</p>
            <p>y podra estimar el costo de su envio en base al el lugar de origen y destino, y tambien</p>
            <p>colocara las dimensiones del paquete para estimar el peso y poder estimar el costo de envio.</p>
            <h3>¿Cómo puedo hacer un seguimiento de mi paquete?</h3>
            <p>Para poder hacer rastrear su paquete, necesitará su número de rastreo que se le otorga al</p>
            <p>realizar un envio en la página, introduce el número de rastreo en la caja de texto que esta</p>
            <p>en el menú principal, una vez introducido su número de rastreo, se va al apartado de "Rastrear"</p>
            <p>y lo enviará a otra pagina donde podra ver el estado actual de su paquete.</p>
            <h3>¿Puedo cambiar la dirección de entrega de mi paquete una vez enviado?</h3>
            <p>No, una vez que el paquete esta en el estado de enviado, no puedes modificar la dirección de entrega.</p>
            <h3>¿Qué hago si mi paquete no llega a tiempo?</h3>
            <p>Si tiene problemas con su paquete, contactenos al número telefonico que se encuentra en la pagina.</p>
            <h3>¿Qué hacer si mi paquete se pierde o se daña?</h3>
            <p>Si ocurre un problema de extrabio de su paquete, contactenos al número  telefonico que se encuentra</p>
            <p>en nuestra página oficial.</p>
            <h3>¿Puedo enviar artículos peligrosos o restringidos?</h3>
            <p>No, no permitimos envíos de artículos peligrosos o restringidos.</p>
        </div>
    </div>
</main>
