* {
    font-family: Arial, sans-serif;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.navbar {
    position: relative;
    z-index: 2;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
    background-color: #ececec;
    height: 70px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.26);
}

/* Logo */
.navbar .logo {
    font-weight: bold;
    font-size: 1.4em;
    margin-left: 40px;
}

.logo a{
    color: #1c1c1c;
    text-decoration: none;
}

.navbar .menu {
    width: 500px;
    display: flex;
    gap: 40px;
}

.menu a {
    text-decoration: none;
    color: #1c1c1c;
    font-size: 1.1em;
    transition: color 0.3s;
}

.menu a:hover {
    color: #e64d11;
}

.navbar .auth-button {
    margin-right: 20px;
}

.auth-button i {
    font-size: 25px;
    color: #1c1c1c;
    cursor: pointer;
    transition: color 0.3s;
}

.auth-button button {
    background: none;
    border: none;
}

.auth-button i:hover {
    color: #e64d11;
}

.user-logo {
    transition: color 0.3s;
}

.user-logo:hover {
    color: #e64d11;
}

@media (max-width: 600px) {
    .navbar .logo {
        margin-left: 20px;
    }

    .navbar .menu {
        display: none;
    }

    .navbar .auth-button {
        display: block;
    }
}

@media (min-width: 601px) and (max-width: 849px){
    .navbar .menu {
        text-align: center;
        justify-content: center;
    }

    .menu .preguntas {
        display: none;
    }

    .navbar .auth-button {
        margin-right: 20px;
    }
}