.main {
    font-family: Arial, sans-serif;
    text-align: center;
    padding: 20px;
  }

.menu{
    width: 100%; /* Ancho del nav */
    background-color: #1e5ad0; /* Fondo azul */
  }

.componente {
    display: flex;
    flex-direction: column; /* Organiza los elementos en una columna */
    align-items: center; /* Centra los elementos horizontalmente */
    justify-content: center; /* Centra los elementos verticalmente */
    height: 400px; /* Usa el 100% del alto de la ventana */
    padding: 20px; /* Espacio interno */
    border-radius: 8px; /* Bordes redondeados */
    margin: 10px auto; /* Centra el div en el contenedor */
    background-color: #f9f9f9; /* Fondo gris claro */
    width: 100%; /* Ancho del div */
    gap: 5px;
  }
  
.componente label {
    margin-top: 15px;
    margin-bottom: 8px; /* Añade un espacio debajo de los labels */
  }
  
.componente input {
    width: 80%; /* Hace que los inputs ocupen el 100% del contenedor */
    padding: 10px;
    margin-bottom: 12px; /* Añade un espacio debajo de los inputs */
    margin-left: 8px;
  }
  
button {
    padding: 10px 20px;
    background-color: #1e5ad0;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 200px;
  }
  
button:hover {
    background-color:  #002fff;
  }

.componente a{
    margin: 8px; /* Margen del componente */
  }

.rastreo{
    height: 50px;
    display: flex;
    margin-bottom: 12px;
    width: 50%;
    gap: 5px;
  }

.rastreo input{
    height: 15px;
    margin-bottom: 5px;
}

#rastrear{
    height: 40px;
    width: 80;
}

.opciones button{
  gap: 5px;
}