<nav class="menu">
</nav>
<main class="main">
  <h1>PAQUETERIA</h1> <!-- Muestra el título dinámico desde el TypeScript -->
  <div class="componente">
    <h2>¡¡Bienvenido!!</h2>
    <div class="rastreo">
      <input type="text" placeholder="Número de rastreo">
      <button (click)="irRastreo()" id="rastrear">Rastrear</button>
    </div>
    <div class="opciones">
      <button (click) = "IrCotizarEnvio()">Cotizar Envio</button>
      <button (click)="irPreguntas()">Preguntas Frecuentes</button>
      <button *ngIf="!isAuthenticated()" (click)="irLogin()">Iniciar sesión</button>
      <button *ngIf="isAuthenticated()" (click)="cerrarSesion()" >Cerrar sesión</button>
    </div>
  </div>
</main>