<nav class="menu">
</nav>
<main class="main">
  <div class="componente">
    <h1>PAQUETERIA</h1>
    <h2>¡¡Bienvenido!!</h2>
    <div class="opciones">
      <button (click)="irRastreo()" id="rastrear">Rastrear</button>
      <button (click)="IrCotizarEnvio()">Cotizar Envio</button>
      <button (click)="irPreguntas()">Preguntas Frecuentes</button>
      <button *ngIf="!isAuthenticated()" (click)="irLogin()">Iniciar sesión</button>
      <button *ngIf="isAuthenticated()" (click)="cerrarSesion()" >Cerrar sesión</button>
      <button *ngIf="isAuthenticated()" (click)="miCuenta()" >Mi Cuenta</button>
    </div>
  </div>
</main>