.main {
  font-family: Arial, sans-serif;
  align-items: center;
  text-align: center;
  padding: 0px;
}

.background {
  position: relative;
  width: 100%;
  height: 450px;
  overflow: hidden;
  background: linear-gradient(to right, rgba(255, 255, 255, 0.966) 0%, rgba(114, 114, 114, 0.588) 20%, rgba(130, 130, 130, 0.407) 70%, rgba(255, 255, 255, 0.785) 100%);
}

h1 {
  margin-bottom: 10px;
}

.video-bg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  object-fit: cover; /* Ajusta el video al div */
  z-index: -1;
}

.componente {
  position: relative;
  z-index: 1; /* Para que quede sobre el video */
  display: flex;
  flex-direction: column; /* Organiza los elementos en una columna */
  align-items: center; /* Centra los elementos horizontalmente */
  justify-content: center; /* Centra los elementos verticalmente */
  height: 400px; /* Usa el 100% del alto de la ventana */
  width: 100%; /* Ancho del div */
  gap: 5px;
  color: white;
}

.componente h2{
  margin-top: 0px;
}
  
.componente label {
  margin-top: 15px;
  margin-bottom: 8px; /* Añade un espacio debajo de los labels */
}
  
.componente input {
  width: 80%; /* Hace que los inputs ocupen el 100% del contenedor */
  padding: 10px;
  margin-bottom: 12px; /* Añade un espacio debajo de los inputs */
  margin-left: 8px;
}
  
button {
  position: relative;
  justify-content: center;
  overflow: hidden; /* Asegura que el gradiente no se salga del botón */
  padding: 10px 20px;
  border-radius: 15px;
  border: 0px solid transparent; /* Transparente para que no se vea el borde cuando no se hace hover */
  background-color: #1c1c1c; /* Azul de fondo inicial */
  color: white; /* Color del texto */
  font-weight: bold;
  cursor: pointer;
  transition: all 0.2s ease-in; /* Transición suave para el texto */
  width: 196px;
  height: 40px;
  box-shadow: 0px 0px 10px rgb(74, 74, 74);
  }

button:hover {
  background-color: #363636;
  transform: scale(1.04); /* Aumentar ligeramente el tamaño */
}

#rastreo-mensaje {
  color: white;
}

.tracking{
  margin-top: 10px;
  height: 50px;
  display: flex;
  width: 50%;
  gap: 10px;
}

.tracking input{
  height: 35px;
  border: 0px;
  margin-bottom: 5px;
  border-radius: 15px;
  transition: all 0.3s ease; /* Transición suave para otros cambios */
  box-shadow: 0px 0px 10px rgb(74, 74, 74);
}

input:hover{
  border-bottom: 2px solid #ff6f00; /* Cambia el color del borde inferior */
}

.tracking button{
  border-radius: 20px;
  width: 150px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.601);
}

.componente a{
  margin: 8px; /* Margen del componente */
}

.componente p {
  font-size: 12px;
}

.rastreo{
  height: 50px;
  display: flex;
  margin-bottom: 10px;
  width: 50%;
  gap: 5px;
}

.rastreo input{
  height: 15px;
  margin-bottom: 5px;
}

.opciones {
  display: flex; /* Activa el modo Flexbox */
  gap: 20px; /* Espacio de 20px entre los botones */
  justify-content: flex-start; /* Los botones se alinean hacia la izquierda */
  align-items: center; /* Los botones se alinean verticalmente en el centro */
  padding: 10px; /* Espacio interior para que no toquen los bordes del div */
}

.info{
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.info h2{
  margin-top: 30px;
  margin-bottom: 0px;
}

#infoServices{
  font-size: 12px;
  margin-top: 0px;
}

.notify {
  margin-top: 10px;
  margin-left: 50px;
  margin-right: 50px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: row; /* Organiza los elementos en una columna */
  align-items: center; /* Centra los elementos horizontalmente */
  justify-content: center; /* Centra los elementos verticalmente */
  gap: 20px;
  padding: 20px;
}

.notify div{
  border-radius: 15px;
  box-shadow: 0px 0px 10px gray;
  width: 350px;
  height: 200px;
  padding: 20px;
}

.notify p {
  margin-bottom: 10px;
}

.notify button {
  width: 150px;
}

.rastrear{
  text-align: left;
}

.cotizar{
  text-align: left;
}

.account{
  text-align: left;
}

/* Telefonos pequeños (hasta 600px) */
@media (max-width: 600px) {
  .background {
    position: relative;
    width: 100%;
    height: 450px;
    overflow: hidden;
  }

  .componente input{
    height: 30px;
    width: 60%;
    margin: 0%;
  }

  .tracking {
    height: 75px;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    width: 90%;
  }

  .tracking input[type="text"]{
    width: 80%;
  }

  #rastreoMain {
    height: 30px;
    width: 60%;
    margin: 0%;
  }

  #rastrear {
    width: 130px;
  }

  .messages{
    text-align: center;
    margin: 0;
  }

  h1 {
    font-size: 18px;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  h3 {
    font-size: 12px;
    margin-bottom: 10px;
  }
  
  .rastreo,
  .notify,
  .opciones {
    width: 90%;
    flex-direction: column;
    align-items: center;
  }

  .notify {
    flex-direction: column;
    gap: 20px;
    margin-left: 20px;
    align-items: center;
  }

  .notify div {
    width: 90%;
    height: auto;
  }
  
  .opciones{
    padding: 0px;
  }
}

/* Tablets (601px - 1024px) */
@media (min-width: 601px) and (max-width: 1024px) {
  .notify {
    flex-direction: column;
    margin: 20px;
  }

  .notify div {
    width: 80%;
  }

  .rastreo,
  .tracking {
    width: 80%;
  }
}