.main {
  position: relative;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center; /* centra horizontalmente */
  align-items: center; /* centra verticalmente */
  overflow: hidden;
  font-family: Arial, sans-serif;
}

.backgroundLogin {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 0.966) 0%,
    rgba(114, 114, 114, 0.588) 20%,
    rgba(130, 130, 130, 0.407) 70%,
    rgba(255, 255, 255, 0.785) 100%
  );
  display: flex; /* ✅ convierte a flex container */
  justify-content: center; /* centra horizontalmente */
  align-items: center; /* centra verticalmente */
}

.photo-bg {
  position: fixed; /* o absolute, pero fixed asegura que cubra el viewport */
  top: 0;
  left: 0;
  width: 100vw; /* viewport width */
  height: 100vh; /* viewport height */
  background-image: url('/pexels-polina-tankilevitch-4440841.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; /* <- clave */
  z-index: -1; /* detrás del contenido */
}

.componente {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 450px;
  width: 350px;
  padding: 20px;
  border-radius: 20px;
  background-color: rgba(249, 249, 249, 0.55); /* un poco más transparente */
  backdrop-filter: blur(5px);
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.8);
  gap: 10px;
  text-align: center;
}

.componente h1{
  margin-top: 0px;
  margin-bottom: 30px;
}

.componente input {
  display: block; /* Hace que los inputs se apilen verticalmente */
  width: 80%; /* Hace que los inputs ocupen el 100% del contenedor */
  padding: 10px;
  margin-bottom: 15px; /* Añade un espacio debajo de los inputs */
  border: 10px #000000;
  background-color: #f9f9f98e; /* Fondo gris claro */
  backdrop-filter: blur(5px); /* Aplica el desenfoque */
  border-radius: 15px;
  box-shadow: 0px 0px 10px rgba(128, 128, 128, 0.816);
  transition: all 0.2s ease-in;
}

input:focus{
  transform: scale(1.04); /* Aumentar ligeramente el tamaño */
}

button {
  margin-top: 10px;
  padding: 10px 20px;
  background-color: #1c1c1c;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 70%;
  height: 40px;
  border-radius: 20px;
  box-shadow: 0px 0px 10px rgb(74, 74, 74);
  transition: all 0.1s ease-in; /* Transición suave para el texto */
}
  
button:hover {
  background-color: #363636;
  transform: scale(1.04); /* Aumentar ligeramente el tamaño */
}

.componente a{
  margin: 8px; /* Margen del componente */
  font-size: 14px; /* Tamaño de la fuente */
}

.accountGoogle{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

.accountGoogle button{
  background-color: #1c1c1c;
  display: flex;
  align-items: center; /* Centra verticalmente */
  justify-content: center; /* Centra horizontalmente */
  gap: 5px;
}

.accountGoogle button:hover {
  background-color: #363636;
}

.moreInfo{
  display: flex;
  flex-direction: column; /* Organiza los elementos en una columna */
  margin-top: 0px;
}

.moreInfo a{
  color: #1c1c1c;
  text-decoration: none;
  transition: color 0.3s;
}

.moreInfo a:hover{
  color: #e64d11;
}

.loginError{
  color: rgb(219, 0, 0);
  margin: 0px;
  font-size: 14px;
}
