<main class="main">
    <div class="componente">
      <h1>{{ title }}</h1> <!-- Muestra el título dinámico desde el TypeScript -->
      <input type="text" #username placeholder="Usuario">
      <input type="password" #password placeholder="Contraseña">
      <button (click)="login()">Iniciar Sesión</button> <!-- Llama al método login -->
      <a routerLink="/registro">Cree una cuenta</a>
      <a routerLink="/recuperacion">Olvide mi Contraseña</a>
    </div>
  </main>
<router-outlet></router-outlet>