.main {
  display: flex;
  align-items: center;
  flex-direction: column;
  font-family: system-ui, sans-serif, "Segoe UI", Helvetica, Arial, "Apple Color Emoji", "Segoe UI Emoji";
  height: auto;
  background-color: #f7f7f7;
}

.cotizacion-info {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  width: 100%;
  height: 300px;
  gap: 5px;
  padding: 20px 80px;

  /* Imagen de fondo */
  background-image: url('/Fondo-basico.jpg'); /* 游댳 ruta a tu imagen */
  background-position: center;             /* centra la imagen */
  background-repeat: no-repeat;            /* evita que se repita */
  background-size: cover;                  /* hace que cubra todo el contenedor */

  /* Opcional: superposici칩n o efecto */
  background-color: rgba(255, 255, 255, 0.5); /* tono semitransparente si quieres efecto "glass" */
  background-blend-mode: overlay;             /* mezcla el color y la imagen */
}


.line,
.line-2 {
  background-color: #e64d11af;
  height: 3px;
  width: 80px;
  border-radius: 20px;
  margin: 10px;
}

.line-2 {
  margin-bottom: 10px;
}

.cotizacion {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100px;
  padding: 15px 0;
}

.CP-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  padding: 50px 0;
  background-color: white;
}

.rem-dest-component {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  padding: 50px 0;
  background-color: #ececec;
}

.CP,
.remitente-destinatario {
  display: flex;
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 0px 0px 10px rgb(74, 74, 74);
  padding: 20px;
  height: auto;
  width: 900px;
}

.remitente-destinatario {
  display: flex;
  padding: 30px;
  flex-direction: row;
  gap: 3rem;
  justify-content: space-between;
  align-items: center;
}

.CP {
  display: flex;
  flex-direction: column;
}

.Data-container-cp {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.OrigenComponent,
.DestinoComponent {
  display: flex;
  align-items: start;
  flex-direction: column;
  border: none;
  width: 100%;
  padding: 10px 20px;
}

.RemitenteComponent,
.DestinatarioComponent {
  display: flex;
  flex-direction: column;
  border: none;
  width: 350px;
  margin: 10px;
  gap: 10px;
}

.RemitenteComponent input,
.DestinatarioComponent input {
  border-radius: 0;
  border-bottom: 2px #363636 solid;
  box-shadow: none;
  transition: all 0.2s ease-in-out;
  width: 90%;
}

.RemitenteComponent input:focus,
.DestinatarioComponent input:focus {
  outline: none; /* elimina el contorno por defecto */
  border-bottom: 2px #e64d11 solid;
}

.fecha-entrega {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: none;
  width: 150px;
  gap: 10px;
}

.fecha-entrega input {
  width: 130px;
  border-bottom: 2px #363636 solid;
  box-shadow: none;
  border-radius: 0;
  transition: all 0.2s ease-in-out;
}

.fecha-entrega input:focus {
  outline: none; /* elimina el contorno por defecto */
  border-bottom: 2px #e64d11 solid;
}

.paquete-detalle {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: white;;
  padding: 0 35px;
  width: 100%;
  height: auto;
  padding: 50px 0;
}

.container {
  display: flex;
  flex-direction: column;
  border: none;
  padding: 20px;
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 0px 0px 10px rgb(74, 74, 74);
  width: 900px;
  height: auto;
  gap: 20px;
}

.container .peso {
  display: flex;
  flex-direction: column;
  width: auto;
  gap: 5px;
}

.container .dimensiones {
  display: flex;
  gap: 3rem;
  width: auto;
}

.paquetes {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 1rem;
}

.cabeceros-paquetes {
  display: flex;
  align-items: center;
  gap: 3rem;
}

.cabeceros-paquetes label {
  width: 180px;
}

.cabeceros-paquetes .cabecero-dimensiones {
  width: 200px;
}

.detail-dimensions {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.detail-dimensions input{
  width: auto;
}

.contador-paquetes {
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: solid 2px #e64d11;
  gap: 1rem;
  padding: 0 15px;
  width: 100px;
}

.contador-paquetes button {
  border: none;
  background-color: transparent;
  color: #363636;
  font-size: 20px;
  transition: all 0.2s;
}

.contador-paquetes button:hover {
  color: #e64d11;
}
  
label {
  color: #e64d11;
}

.cp-origen,
.cp-destino {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  margin-top: 10px;
  gap: 10px;
}

.cp-origen input,
.cp-destino input {
  position: relative;
  width: 190px;
  padding-right: 50px;
  margin: 0;
}

.cp-origen button,
.cp-destino button {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  left: 155px;
  bottom: 42px;
  width: 30px;
  height: 30px;
  font-size: 15px;
  margin: 0;
}
  
.origen-info,
.destino-info {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  gap: 10px;
  margin-top: 20px;
  width: 90%;
}

.origen-info input,
.destino-info input {
  width: 100%;
  border-radius: 0;
  box-shadow: none;
  background-color: transparent;
  border-bottom: 2px #363636 solid;
}

input {
  height: 35px;
  width: 180px;
  margin-top: 5px;
  padding: 10px;
  border: none;
  box-shadow: 0px 0px 10px rgba(74, 74, 74, 0.581);
  border-radius: 20px;
}
  
.Boton {
  margin-top: 10px;
  width: 20%;
  padding: 10px;
  background-color: #1c1c1c;
  color: white;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  transition: all 0.2s;
}
  
.Boton:hover {
  background-color: #e64d11;
}

.Boton:disabled {
  opacity: 0.5;
  cursor: not-allowed;
  pointer-events: none;
}
  
.paquete-row {
  margin-top: 20px;
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 4px;
  background-color: #f9f9f9;
}

.detalle-servicio {
  display: flex;
  justify-content: center;
  padding: 50px 0;
}

.container-detalle-servicio {
  background: #fff;
  width: 900px;
  border-radius: 20px;
  padding: 30px;
  box-shadow: 0 8px 20px rgba(0,0,0,.15);
}

.titulo {
  margin-bottom: 25px;
}

.contenido {
  display: flex;
  gap: 30px;
}

/* IZQUIERDA */
.info-envio {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.info-envio .item {
  display: flex;
  justify-content: space-between;
  padding: 12px 15px;
  background: #f3f3f3;
  border-radius: 10px;
}

.fecha {
  margin-top: 15px;
  padding: 15px;
  background: #ececec;
  border-left: 5px solid #e64d11b7;
  border-radius: 10px;
  font-weight: 500;
}

/* DERECHA */
.costos-card {
  width: 320px;
  background: #f7f7f7;
  border-radius: 15px;
  padding: 20px;
}

.costos-card h3 {
  margin-bottom: 15px;
}

.fila {
  display: flex;
  justify-content: space-between;
  padding: 12px 0;
  border-bottom: 1px solid #ddd;
}

.fila.total {
  margin-top: 10px;
  font-size: 1.2rem;
  font-weight: bold;
  color: #e64d11;
  border-bottom: none;
}

/* BOT칍N */
.acciones {
  margin-top: 30px;
  display: flex;
  justify-content: flex-end;
}

.btn {
  padding: 12px 30px;
  border-radius: 30px;
  border: none;
  background: #1c1c1c;
  color: white;
  cursor: pointer;
}

.label-peso-movil {
  display: none;
}

.label-dimensiones-movil {
  display: none;
}

/* Estilos para el input de direcci칩n */
.input-direccion {
  height: 35px;
  width: 100%;
  margin-top: 10px;
  padding: 10px;
  border: none;
  box-shadow: 0px 0px 10px rgba(74, 74, 74, 0.581);
  border-radius: 20px;
  background-color: white;
  transition: all 0.2s ease-in-out;
}

.input-direccion:focus {
  outline: none;
  box-shadow: 0px 0px 15px rgba(230, 77, 17, 0.6);
}

/* Responsive */
@media (max-width: 600px) {
  .input-direccion {
    width: 100%;
  }
}

@media (min-width: 601px) and (max-width: 700px) {
  .input-direccion {
    width: 100%;
  }
}

/* Telefonos peque침os (hasta 600px) */
@media (max-width: 600px) {
  .main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: system-ui, sans-serif, "Segoe UI", Helvetica, Arial, "Apple Color Emoji", "Segoe UI Emoji";
    height: auto;
  }
  
  .cotizacion-info h2 {
    font-size: 20px;
  }

  .cotizacion-info p {
    font-size: 15px;
  }
  
  .CP-container {
    width: 100%;
  }

  .CP,
  .remitente-destinatario {
    flex-direction: column;
    padding: 20px;
    width: 80%;
    height: auto;
    gap: 20px;
  }

  .OrigenComponent,
  .DestinoComponent {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 0;
  }

  .origen-info,
  .destino-info {
    margin-top: 0;
    width: 90%;
    flex-direction: column;
  }

  .origen-info input,
  .destino-info input {
    width: 100%;
  }

  .RemitenteComponent,
  .DestinatarioComponent {
    width: 90%;
    margin: 10px;
    gap: 10px;
  }

  .RemitenteComponent input,
  .DestinatarioComponent input {
    width: 100%;
  }

  .fecha-entrega {
    margin-top: 0;
    margin-bottom: 10px;
    gap: 10px;
  }

  .paquete-detalle {
    padding: 50px 0;
    margin-top: 0;
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .container {
    border: none;
    width: 80%;
    height: auto;
    gap: 10px;
  }

  .container button {
    width: 40%;
  }
  
  .container .cabecero-dimensiones {
    display: none;
  }

  .container .dimensiones {
    flex-direction: column;
    gap: 1rem;
  }

  .paquetes {
    margin-bottom: 10px;
    gap: 2rem;
  }

  .detail-dimensions {
    flex-direction: column;
    align-items: start;
    gap: 3px;
  }

  .detail-dimensions label {
    margin-left: 10px;
  }

  .detalle-servicio{
    width: 100%;
  }

  .container-detalle-servicio {
    width: 80%;
  }

  .container-detalle-servicio table {
    width: 70%;
  }

  .container-detalle-servicio .Boton {
    width: 40%;
  }

  .label-peso{
    display: none;
  }

  .label-peso-movil {
    display: flex
  }
  
  .label-dimensiones-movil {
    display: flex;
  }
}

@media (min-width: 601px) and (max-width: 700px) {
  .main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: system-ui, sans-serif, "Segoe UI", Helvetica, Arial, "Apple Color Emoji", "Segoe UI Emoji";
    height: auto;
  }
  
  .CP,
  .remitente-destinatario {
    flex-direction: column;
    padding: 20px;
    height: auto;
    width: 90%;
  }

  .cp-origen,
  .cp-destino {
    max-width: 100%;
  }

  .OrigenComponent input,
  .DestinoComponent input {
    width: 80%;
  }

  .OrigenComponent Button,
  .DestinoComponent Button {
    left: 98px;
  }

  .origen-info,
  .destino-info {
    display: flex;
    flex-direction: column;
    width: 80%;
  }

  .paquete-detalle {
    padding: 0;
    margin-top: 0;
    width: 100%;
    align-items: center;
    justify-content: center;
    gap: 3rem;
  }

  .container {
    border: none;
    width: 50%;
    height: 410px;
    gap: 10px;
  }
  
  .container .peso {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 5px;
  }
  
  .container .dimensiones {
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 100%;
  }

  .paquete-detalle {
    padding: 50px 0;
    margin-top: 0;
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .container {
    border: none;
    width: 80%;
    height: auto;
    gap: 10px;
  }

  .paquetes {
    margin-bottom: 10px;
    gap: 2rem;
  }

  .detail-dimensions {
    flex-direction: column;
    align-items: start;
    gap: 3px;
  }

  .detail-dimensions label {
    margin-left: 10px;
  }

    .container .cabecero-dimensiones {
    display: none;
  }

  .container .dimensiones {
    flex-direction: column;
    gap: 1rem;
  }

  .paquetes {
    margin-bottom: 10px;
    gap: 2rem;
  }

  .detail-dimensions {
    flex-direction: column;
    align-items: start;
    gap: 3px;
  }

  .detail-dimensions label {
    margin-left: 10px;
  }

  .detalle-servicio{
    width: 100%;
  }

  .container-detalle-servicio {
    width: 80%;
  }

  .container-detalle-servicio table {
    width: 70%;
  }

  .container-detalle-servicio .Boton {
    width: 40%;
  }

  .label-peso{
    display: none;
  }

  .label-peso-movil {
    display: flex
  }
  
  .label-dimensiones-movil {
    display: flex;
  }
}

.select-asentamiento {
  height: 35px;
  width: 100%;
  margin-top: 10px;
  padding: 0 10px;
  border: none;
  box-shadow: 0px 0px 10px rgba(74, 74, 74, 0.581);
  border-radius: 20px;
  background-color: white;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.select-asentamiento:focus {
  outline: none;
  box-shadow: 0px 0px 15px rgba(230, 77, 17, 0.6);
}

.select-asentamiento option {
  padding: 10px;
}

/* Responsive */
@media (max-width: 600px) {
  .select-asentamiento {
    width: 100%;
  }
}

@media (min-width: 601px) and (max-width: 700px) {
  .select-asentamiento {
    width: 100%;
  }
}

@media (min-width: 701px) and (max-width: 1024px) {
  .main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: system-ui, sans-serif, "Segoe UI", Helvetica, Arial, "Apple Color Emoji", "Segoe UI Emoji";
    height: auto;
  }
  
  .CP,
  .remitente-destinatario {
    padding: 20px;
    height: auto;
    width: 90%;
  }

  .origen-info input,
  .destino-info input {
    width: 80%;
  }

  .OrigenComponent,
  .DestinoComponent {
    gap: 4rem;
  }

  .CP {
    flex-direction: column;
  }

  .paquete-detalle {
    padding: 50px 0;
    margin-top: 0;
    width: 100%;
    align-items: center;
    justify-content: center;
  }

  .container {
    border: none;
    width: 90%;
    height: auto;
    gap: 10px;
    margin: 0;
    overflow: hidden;
  }

  .container * {
    max-width: 100%;
    box-sizing: border-box;  /* padding y borde se incluyen en el tama침o */
    word-wrap: break-word;   /* si hay texto largo, que se rompa */
  }

  .cabeceros-paquetes,
  .cabeceros-paquetes .cabecero-dimensiones{
    width: 70%;
    gap: 3rem;
    max-width: 100%;
    box-sizing: border-box;
  }

  .origen-info,
  .destino-info {
    display: flex;
    flex-direction: column;
    width: 70%;
  }

  .dimensiones input{
    width: 80%;
    gap: 2rem;
    max-width: 90%;
    box-sizing: border-box;
  }

  .detalle-servicio{
    display: flex;
    width: 48%;
    height: 410px;
    margin-right: auto;
    gap: 10px;
    margin: 0;
  }
}
