<main class="main">
  <div class="componente">
    <h1>{{ title }}</h1> <!-- Título dinámico -->
    <div class="info">
      <label for="full-name">Nombre Completo:</label>
      <div class="name">
        <input type="text" id="nombre" [(ngModel)]="nombre" [disabled]="!edicion.name" #Nombre>
        <input type="text" id="apellidoPaterno" [(ngModel)]="apellidoPaterno" [disabled]="!edicion.name" #Apellido1>
        <input type="text" id="apellidoMaterno" [(ngModel)]="apellidoMaterno" [disabled]="!edicion.name" #Apellido2>
        <a class="edit-name" (click)="habilitarEdicion('edit-name')"><i class='bx bxs-edit' ></i></a>
        <a class="edit-mail" (click)="confirmarEdicion('edit-name')" *ngIf="edicion.name"><i class='bx bx-check'></i></a>
      </div>
      <label for="telefono">Teléfono:</label>
      <div class="phone">
        <input type="text" id="telefono" [(ngModel)]="telefono" [disabled]="!edicion.phone">
        <a class="edit-phone" (click)="habilitarEdicion('edit-phone')"><i class='bx bxs-edit'></i></a>
        <a class="edit-phone" (click)="confirmarEdicion('edit-phone')" *ngIf="edicion.phone"><i class='bx bx-check'></i></a>
      </div>
      <label for="email">Correo:</label>
      <div class="mail">
        <input type="text" id="email" [(ngModel)]="email" [disabled]="!edicion.mail" #Correo>
        <a class="edit-mail" (click)="habilitarEdicion('edit-mail')"><i class='bx bxs-edit' ></i></a>
        <a class="edit-mail" (click)="confirmarEdicion('edit-mail')" *ngIf="edicion.mail"><i class='bx bx-check'></i></a>
      </div>
      <label for="username">Usuario:</label>
      <div class="username">
        <input type="text" id="username" [(ngModel)]="username" [disabled]="!edicion.user"  #User>
        <a class="edit-user" (click)="habilitarEdicion('edit-user')"><i class='bx bxs-edit' ></i></a>
        <a class="edit-mail" (click)="confirmarEdicion('edit-user')" *ngIf="edicion.user"><i class='bx bx-check'></i></a>
      </div>
    </div>
    <h3>Historial de Envios</h3>
    <div class="lista-envios-realizado">
      <table>
        <thead>
          <tr>
            <th></th>
            <th>Fecha</th>
            <th>Código de Rastreo</th>
            <th>Origen</th>
            <th>Destino</th>
            <th>Estatus</th>
          </tr>
        </thead>
        <tbody>
          @for (envio of envios; track $index) {
            <tr>
              <td>{{ $index + 1}}</td>
              <td>{{ envio.Fecha_Envio }}</td>
              <td>{{ envio.Codigo_Rastreo }}</td>
              <td>{{ envio.Origen }}</td>
              <td>{{ envio.Destino }}</td>
              <td>{{ envio.Estatus }}</td>
            </tr>
          }
          @empty {
            <tr>
              <td colspan="6">Sin envíos realizados</td>
            </tr>
          }
        </tbody>
      </table>
    </div>
    <div class="buttons">
        <button (click)="cerrarSesion()">Cerrar Sesión</button>
        <button (click)="EliminarInfo()">Eliminar mi cuenta</button>
      </div>
    <div *ngIf="ContenidoVisibleDelete" class="info">
      <label for="nombre">Contraseña:</label>
      <input type="text" id="nombre" [(ngModel)]="nombre" #Contraseña>
    </div>
  </div>
</main>