<main class="main">
  <div class="componente">
    <h1>{{ title }}</h1> <!-- Título dinámico -->
    <div *ngIf="ContenidoVisibleInfo" class="info">

      <label for="nombre">Buscar por nombre:</label>
      <input type="text" id="nombre"  #NombreB>

      <label for="nombre">Nombre:</label>
      <input type="text" id="nombre" [(ngModel)]="nombre" [disabled]="isDisabled" #Nombre>

      <label for="apellidoPaterno">Apellido Paterno:</label>
      <input type="text" id="apellidoPaterno" [(ngModel)]="apellidoPaterno" [disabled]="isDisabled" #Apellido1>

      <label for="apellidoMaterno">Apellido Materno:</label>
      <input type="text" id="apellidoMaterno" [(ngModel)]="apellidoMaterno" [disabled]="isDisabled" #Apellido2>

      <label for="email">Correo:</label>
      <input type="text" id="email" [(ngModel)]="email" [disabled]="isDisabled" #Correo>

      <label for="username">Usuario:</label>
      <input type="text" id="username" [(ngModel)]="username" [disabled]="isDisabled"  #User>
    </div>

    <div *ngIf="ContenidoVisibleDelete" class="info">
      <label for="nombre">Contraseña:</label>
      <input type="text" id="nombre" [(ngModel)]="nombre" [disabled]="isDisabled" #Contraseña>
    </div>

    <button (click)="ConsultarInfo()">Consultar información</button>
    <button (click)="EliminarInfo()">Eliminar mi cuenta</button>
  </div>
</main>

  

