.main {
    font-family: Arial, sans-serif;
    text-align: center;
    padding: 0px;
  }

        /* El div .menu ocupa toda la parte superior */
.menu {
    width: 100%; /* Abarca todo el ancho */
    height: 60px; /* Ajusta la altura a lo que necesites */
    background-color: #1e5ad0; /* Fondo para que se vea */
    color: white;
    display: flex;
    justify-content: left; /* Centra el contenido horizontalmente */
    margin-left: 0px;
    align-items: center; /* Centra el contenido verticalmente */
  }

  nav ul {
    list-style: none; /* Elimina los puntos de la lista */
    padding: 0;
    margin: 0;
    display: flex;
    margin-left: 20px;
}

.menu a{
  text-decoration: none; /* Quita el subrayado del enlace */
  color: #ffffff;
}

  
button {
    padding: 10px 20px;
    background-color: #1e5ad0;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 80%;
  }
  
  button:hover {
    background-color:  #002fff;
  }

  