/* El div .menu ocupa toda la parte superior */
.menu {
    width: 100%; /* Abarca todo el ancho */
    height: 60px; /* Ajusta la altura a lo que necesites */
    background-color: #002671; /* Fondo para que se vea */
    color: white;
    display: flex;
    margin-left: 0px;
    align-items: center; /* Centra el contenido verticalmente */
    border: none;
    margin: 0;
    padding: 0;
    outline: none; /* Elimina el borde de enfoque si lo tiene */
  }

nav ul {
    list-style: none; /* Elimina los puntos de la lista */
    padding: 0;
    margin: 0;
    display: flex;
    margin-left: 20px;
    gap: 50px;
}

.menu a{
  text-decoration: none; /* Quita el subrayado del enlace */
  color: #ffffff;
  font-family: 'Courier New', Courier, monospace;
  transition: all 0.2s ease-in;
}

a:hover{
  transition: scale(1.03);
}

nav ul .login{
  margin-left: auto; /* Empuja este elemento a la derecha */
}

  
button {
    padding: 10px 20px;
    background-color: #002671;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 80%;
  }
  
  button:hover {
    background-color:  #002671;
  }

  