<!-- Menu superior de la pagina -->
<nav class="navbar">
  <div class="logo"><a href="/menu"><img alt="">"LOGO"</a></div>
  <div class="menu">
    <a class="cotizar">Cotizar Envio</a>
    <a class="preguntas">Preguntas frecuentes</a>
    <a class="sucursales">Sucursales</a>
  </div>
  <!-- Icono de usuario -->
  <div class="auth-button">
    <button *ngIf="!isAuthenticated()" (click)="irLogin()"><i class='bx bx-user'></i></button> <!-- Icono de iniciar sesion -->
    <button *ngIf="isAuthenticated()"><i class='bx bx-user-circle'></i></button> <!-- Icono de mi cuenta -->
  </div>
</nav>
<router-outlet></router-outlet>
<!-- Pie de la pagina -->
<footer>
  <div class="space"></div>
  <div class="endPage">
    <div class="legales">
      <h3>LEGALES</h3>
      <ul>
        <li><a href="">Aviso de privacidad</a></li>
        <li><a href="">¿Que debo hacer para iniciar una reclamación?</a></li>
        <li><a href="">Políticas de aceptación de mercancias</a></li>
        <li><a href="">Formato de solicitud de reclamación</a></li>
      </ul>
    </div>
    <div class="contacto">
      <h3>CONTÁCTANOS</h3>
      <ul>
        <li><a href="">+52000-000-0000</a></li>
        <li><a href="">papuexpress&#64;example.com</a></li>
      </ul>
      <p>Lunes a viernes de 8 a 19 hrs. <br>Sábados de 8 a 14 hrs.</p>
    </div>
    <div class="redes-sociales">
      <h3>SIGUENOS EN</h3>
      <div class="social-medias1">
        <a href=""><i class='bx bxl-instagram-alt'></i></a>
        <a href=""><i class='bx bxl-facebook'></i></a>
      </div>
      <div class="social-medias2">
        <a href=""><i class='bx bxl-tiktok'></i></a>
        <a href=""><i class='bx bxl-twitter'></i></a>
      </div>
    </div>
    <div class="FAQS">
      <a href="/preguntas">FAQ'S</a>
    </div>
  </div>
  <p class="derechos-reservados">Operadora de Servicios PapuExpress S.A. de C.V. Todos los derechos reservados.</p>
</footer>
